.header{
    background-color: #E19191;
    margin: 0;
    padding: 10px;
    font-size: 24px;
    color: #6E3030;
    font-family: 'Tahoma', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.header-links {
    display: flex;
    gap: 16px;
    margin-right: 100px;
    
}

.intro {

}

.info {

}

.quote {

}

.signup {

}

.footer {

}

ul {

}

li {

}

a {
    font-size: 14px;
    color: #6E3030;
    text-decoration: none;
}

button {

}

body {
    margin: 0;
}