.header{
    background-color: #E19191;
    margin: 0;
    padding: 0px 300px;
    font-size: 24px;
    color: #4D2121;
    font-family: 'Tahoma', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.header-links {
    display: flex;
    gap: 25px; 
}

.intro {
    background-color: #E19191;
    color: #4D2121;
    font-family: 'Tahoma', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 400px;
    padding: 0px 300px;
    gap: 100px

}

.intro-text, 
.intro-cherry {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-items: center;
    margin: 0;
    width: 400px;
}

.info {

}

.quote {

}

.signup {

}

.footer {

}

img {
    width: 400px;

}

ul {

}

li {

}

a {
    font-size: 14px;
    color: #6E3030;
    text-decoration: none;
}

button {
    background-color: #6E3030;
    color: #E19191;
    border-color: #783636;
    border-radius: 6px;
    width: 90px;
    height: 20px;
}

body {
    background-color: #fcf4f4;
    margin: 0;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}